/*
//Global styles
*/

html {
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
}

.home-background {
    background-color: #F8CDD5;
    /*animation: change-background 6s ease;*/
}

/*@keyframes change-background {
    0% {
      background: #F8CDD5;
    }
    100% {
      background:  #FFCBB9;
    }
}*/

h1  {
    font-size: 24px;
    font-weight: 900;
    margin: 0px;
}

h2  {
    font-size: 24px;
    font-weight: 900;
    margin: 0px;
}

h3  {
    font-size: 20px;
}

h4  {
    font-size: 16px;
    font-weight: 700;
}

h5  {
    font-size: 14px;
}

h6  {
    font-size: 12px;
}

.quote {
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
}

li, p {
    font-size: 1.4em;    
    line-height: 1.4;
    color: inherit;
    font-weight: 500;
}

.image-caption-font {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}

.image-caption {
    background-color:#FFCBB9;
    padding: 8px 24px;
    margin-top: 16px;
}

a {
    color: inherit;
}

body {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 48px;
}

.about-background {
    background-color: #FFCBB9;
    animation: change-background 6s ease;
}

@keyframes change-background {
    0% {
      background: #F8CDD5;
    }
    100% {
      background: #FFCBB9;
    }
}

.about-nav {
    /*color: white;*/
}

hr {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: black;
  }

.italic {
    font-style: italic;
}

/*Default States*/

a:focus {
    outline:  #000000 3px solid;
    outline-offset: 4px;
}

/*
//Testing styles
*/

.testBlock {
    height: 50px;
    width: 100%;
}

.testImage {
    width: 100%;
}

/*
//Top navigation
*/

.nav-top {
    /*height: 128px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-top-left {
    float: left;
}

.nav-top-right {
    float: right;
    vertical-align: middle;
}

ul.nav-top {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
}

/* ul li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
} */

.logo-mark {
    font-size: 24px;
}

.nav-top a:link {
    text-decoration: none;
    color: inherit;
}

.nav-top a:hover {
    text-decoration: underline;
    background-color: #FBECEF;
}

.nav-top a:focus {
    outline:  #000000 3px solid;
    outline-offset: -1px;
}

.nav-top a:visited {
    text-decoration: none;
    color: inherit;
}

.nav-top li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    padding-right: 8px;
    font-size: 20px;
}

.nav-top li a {
    padding: 8px 8px 8px 8px;
}

.remove-padding-right {
    padding-right: 6px !important;
}

/*Buttons*/

.btn-primary {
    font-size: 18px;
    line-height: 1.2;
    padding: 16px;
    background-color: #F8CDD5;
    border: none;
}

/*
Intro block
*/

.intro-block {
    /*height: 64px;*/
    background-color: white;
    background-image: url(../images/grid-basic.svg);
    padding: 24px;
    margin-bottom: 32px;
}

.grid-block {
    background-color: #ffffff;
    background-image: url(../images/grid-basic.svg);
    padding: 24px;
    margin-bottom: 32px;
}

/*
Case Study Card
*/

.case-studies {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.case-study--card {
    background-color: #FBECEF;
    border-radius: 6px;
    height: auto;
    width: 48%;
    margin-bottom: 32px;
    overflow: hidden;
}

.case-study--card-image {
    height: 300px;
    background-color: lightcoral;
    /*border-radius: inherit;*/
}

.case-study--card-content {
    padding: 16px;
    background-color: #F5EAD8;
}

.case-study--content a:hover {
    text-decoration: underline;
    background-color: #003F5C;
    outline:  #003F5C 8px solid;
    color: white;
}

.case-study--content a:focus {
    outline:  #000000 3px solid;
    outline-offset: 6px;
}

.case-study--content a:visited {
    text-decoration: none;
}

/* Case Study Card Typography */

.case-study--card p, .case-study--card a {
    font-size: 20px;
}

/* Case Study Card Background Images */

/*.case-study--card-image {
    max-width: 100%;
    max-height: 100%;
}*/

.case-study--card-image.case-study--design-system {
    /*background-image: url(../images/graphic-system.svg);*/
    background-color: #fbecef;
    background-image: url("../images/graphic-system-large.svg");
}

.case-study--card-image.case-study--personas {
    background-image: url(../images/graphic-round-large.svg);
}

.case-study--card-image.case-study--essay-image {
    background-image: url(../images/pattern-leaves-pink-navy.svg);
}

.case-study--card-image.case-study--visual-design {
    background-image: url(../images/pattern-mcm-stars--orange-navy-white.svg);
}

.case-study--card-image.case-study--user-management {
    background-color: #fcdf8f;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23f04435' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/*Flexbox*/

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px 24px;
    justify-content: space-evenly;
}

/*About Page*/

/*.about-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px 24px;
}
*/

.about-column-1 {
    order: 0; /* default is 0 */
    flex-grow: 6;
    flex-shrink: 1; /* default 1 */
    flex-basis: 33%;
    padding: inherit;
  }

.about-column-2 {
    order: 1; /* default is 0 */
    flex-grow: 2;
    flex-shrink: 3; /* default 1 */
    flex-basis: 66%;
    padding: inherit;
  }

@media (max-width: 699px) {
    .about-content {
        flex-direction: column;
        padding: 0px 16px;
    }
    .case-studies {
        flex-direction: column;
        margin-bottom: 0px;
    }
    .case-study--card {
        width: 100%;
    }
    .case-study-content {
        flex-direction: column;
    }
    .case-study--skills {
        margin: 0px 0px 24px 0px;
    }
    body {
        width: 95%;
    } 
}

@media (min-width: 700px) and (max-width: 1100px) {
     .case-study--skills {
         margin: 0px 24px 0px 0px;
     }
     .case-study--card-subtitle {
        /*height: 56px;*/
    }
}

/*Case Study Pages*/

.case-study-background {
    background-color: #F5E9D8;
    animation: change-background 6s ease;
}

@keyframes change-background {
    0% {
      background: #F8CDD5;
    }
    100% {
      background: #F5E9D8;
    }
}

.case-study--callout {
    outline: 4px solid black;
    padding: 16px;
    box-shadow: 4px 4px 0 0 #FFCBB9;
}

.case-study--page-content {
    padding: 0 24px;
}

.case-study--about-company {
    font-style: italic;
}

.case-study-heading--100 {
    font-size: 36px;
}

.case-study-heading--200 {
    font-size: 30px;
    font-weight: 400;
}

.case-study-heading--300 {
    font-size: 24px;
    color: #003F5C;
    font-weight: 900;
}

.case-study--image-and-caption {
    align: center;
    display: block;
    text-align: center;
    margin: 48px 48px;
}

.case-study--image {
    width:100%;
    height:100%;
    box-shadow: 8px 8px 0 0 #FFCBB9;
    outline: 8px solid #FFCBB9;
}



