/*
//Global styles
*/

html {
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
    background-color: #F8CDD5;
}

h1  {
    font-size: 24px;
    margin: 0px;
}

h2  {
    font-size: 24px;
    font-weight: 900;
    margin: 0px;
}

h3  {
    font-size: 32px;
}

h4  {
    font-weight: 700;
}

h5  {
    font-size: 14px;
}

h6  {
    font-size: 12px;
}

li, p {
    font-size: 1em;    
    line-height: 1.4;
    color: inherit;
}

a {
    color: inherit;
}

body {
    width: 80%;
    margin: 0 auto;
}

hr {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: black;
  }

/*
//Testing styles
*/

.testBlock {
    height: 50px;
    width: 100%;
}

.testImage {
    width: 100%;
}

/*
//Top navigation
*/

.nav-top {
    /*height: 128px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-top-left {
    float: left;
}

.nav-top-right {
    float: right;
    vertical-align: middle;
}

ul.nav-top {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
}

/* ul li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
} */

.logo-mark {
    font-size: 24px;
}

.nav-top a:link {
    text-decoration: none;
    color: inherit;
}

.nav-top a:hover {
    text-decoration: underline;
    background-color: #FBECEF;
    outline:  #FBECEF 8px solid;
}

.nav-top a:focus {
    outline:  #000000 3px solid;
    outline-offset: 6px;
}

.nav-top a:visited {
    text-decoration: none;
    color: inherit;
}

.nav-top li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    padding-right: 24px;
    font-size: 20px;
}

.remove-padding-right {
    padding-right: 6px !important;
}

/*
Intro block
*/

.intro-block {
    /*height: 64px;*/
    background-color: white;
    background-image: url(../images/grid-rectangle.svg);
    padding: 24px;
    margin-bottom: 32px;
}

/*
Case Study Card
*/

.case-studies {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.case-study--card {
    background-color: #FBECEF;
    border-radius: 6px;
    height: auto;
    width: 48%;
    margin-bottom: 32px;
    overflow: hidden;
}

.case-study--image {
    height: 300px;
    background-color: lightcoral;
    /*border-radius: inherit;*/
}

.case-study--content {
    padding: 16px;
    background-color: #F5EAD8;
}

/* Case Study Card Typography */

.case-study--card p {
    font-size: 20px;
}

/* Case Study Card Images */

.case-study--image.case-study--design-system {
    background-image: url(../images/graphic-system.svg);
}

.case-study--image.case-study--personas {
    background-image: url(../images/graphic-round.svg);
}



