/*
//Global styles
*/

html {
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
    background-color: #F8CDD5;
}

h1  {
    font-size: 24px;
    margin: 0px;
}

h2  {
    font-size: 24px;
    font-weight: 900;
    margin: 0px;
}

h3  {
    font-size: 32px;
}

h4  {
    font-weight: 700;
}

h5  {
    font-size: 14px;
}

h6  {
    font-size: 12px;
}

li, p {
    font-size: 1.4em;    
    line-height: 1.4;
    color: inherit;
    font-weight: 500;
}

a {
    color: inherit;
}

body {
    width: 80%;
    margin: 0 auto;
}

.about-background {
    background-color: #FFCBB9;
    animation: change-background 6s ease;
}

@keyframes change-background {
    0% {
      background: #F8CDD5;
    }
    100% {
      background: #FFCBB9;
    }
}

.about-nav {
    /*color: white;*/
}

hr {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: black;
  }

.italic {
    font-style: italic;
}

/*
//Testing styles
*/

.testBlock {
    height: 50px;
    width: 100%;
}

.testImage {
    width: 100%;
}

/*
//Top navigation
*/

.nav-top {
    /*height: 128px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-top-left {
    float: left;
}

.nav-top-right {
    float: right;
    vertical-align: middle;
}

ul.nav-top {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
}

/* ul li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
} */

.logo-mark {
    font-size: 24px;
}

.nav-top a:link {
    text-decoration: none;
    color: inherit;
}

.nav-top a:hover {
    text-decoration: underline;
    background-color: #FBECEF;
}

.nav-top a:focus {
    outline:  #000000 3px solid;
    outline-offset: -1px;
}

.nav-top a:visited {
    text-decoration: none;
    color: inherit;
}

.nav-top li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    padding-right: 8px;
    font-size: 20px;
}

.nav-top li a {
    padding: 8px 8px 8px 8px;
}

.remove-padding-right {
    padding-right: 6px !important;
}

/*
Intro block
*/

.intro-block {
    /*height: 64px;*/
    background-color: white;
    background-image: url(../images/grid-basic.svg);
    padding: 24px;
    margin-bottom: 32px;
}

.grid-block {
    background-color: #ffffff;
    background-image: url(../images/grid-basic.svg);
    padding: 24px;
    margin-bottom: 32px;
}

/*
Case Study Card
*/

.case-studies {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.case-study--card {
    background-color: #FBECEF;
    border-radius: 6px;
    height: auto;
    width: 48%;
    margin-bottom: 32px;
    overflow: hidden;
}

.case-study--image {
    height: 300px;
    background-color: lightcoral;
    /*border-radius: inherit;*/
}

.case-study--content {
    padding: 16px;
    background-color: #F5EAD8;
}

.case-study--content a:hover {
    text-decoration: underline;
    background-color: #003F5C;
    outline:  #003F5C 8px solid;
    color: white;
}

.case-study--content a:focus {
    outline:  #000000 3px solid;
    outline-offset: 6px;
}

.case-study--content a:visited {
    text-decoration: none;
}

/* Case Study Card Typography */

.case-study--card p, .case-study--card a {
    font-size: 20px;
}

/* Case Study Card Images */

.case-study--image.case-study--design-system {
    /*background-image: url(../images/graphic-system.svg);*/
    background-color: #fbecef;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23003f5c' fill-opacity='1'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.case-study--image.case-study--personas {
    background-image: url(../images/graphic-round.svg);
}

/*About Page*/

.about-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px 24px;
}

.about-column-1 {
    order: 0; /* default is 0 */
    flex-grow: 6;
    flex-shrink: 1; /* default 1 */
    flex-basis: 33%;
    padding: inherit;
  }

.about-column-2 {
    order: 1; /* default is 0 */
    flex-grow: 2;
    flex-shrink: 3; /* default 1 */
    flex-basis: 66%;
    padding: inherit;
  }

@media (max-width: 700px) {
    .about-content {
        flex-direction: column;
        padding: 0px 16px;
    }
    body {
        width: 95%;
    } 
}



